.index-banner{
  width: 100%;
  min-width: @wrapWidth;
  height: 784px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background:#151515 url(../images/index-banner-block-background.jpg) no-repeat center;
}
.index-banner-block{
  width: 100%;
  min-width: @wrapWidth;
  height: 674px;
}